<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>123.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>127.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>124.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>125.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>126.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>127.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>127.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>124.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>125.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安深发整合 并购周末完成</string>
		<key>summary</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>detail</key>
		<string>业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购业务系统今明两天整合上线；为中国最大的金融并购</string>
		<key>portrait</key>
		<string>126.png</string>
	</dict>
</array>
</plist>
